@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');

/*=== Global style ===*/

:root {
  /* Font variables */
  --font-inter: 'Inter', sans-serif;
  --font-miama: 'Miama', sans-serif;
  /* color variables */
  --white: #fff;
  --white-50: rgba(255, 255, 255, 0.5);
  --white-65: rgba(255, 255, 255, 0.65);
  --black: #000;
  --mandarin-red: #e6533c;
  --black-out: #222222;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: inherit;
}

ol,
ul {
  list-style: none;
}

body {
  background-color: var(--black);
  font-family: var(--font-inter);
  color: var(--white);
}

.box {
  margin-left: auto;
  margin-right: auto;
  max-width: 1060px;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

@media (min-width: 576px) {
  .box {
    padding-left: 1.88rem;
    padding-right: 1.88rem;
  }
}

@media (min-width: 1120px) {
  .box {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.btn-red {
  border-radius: 2.625rem;
  background-color: var(--mandarin-red);
  padding-left: 1.125rem;
  padding-right: 1.125rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.375rem;
  color: var(--white);
}

@media (min-width: 576px) {
  .btn-red {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1.25rem;
  }
}

.btn-black {
  border-radius: 2.625rem;
  border-width: 1px;
  border-style: solid;
  border-color: var(--white);
  background-color: var(--black);
  padding-left: 1.125rem;
  padding-right: 1.125rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.375rem;
  color: var(--white);
}

@media (min-width: 576px) {
  .btn-black {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1.25rem;
  }
}

/*=== Main Design ===*/

.header {
  background-image: linear-gradient(
    180deg,
    rgb(17, 17, 17),
    rgba(119, 119, 119, 0) 100%
  );
}

/* == Nav == */

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 3.25rem;
}

@media (min-width: 992px) {
  .nav {
    padding-top: 3.66rem;
  }
}

.nav-logo {
  font-size: 2.25rem;
  font-weight: 800;
  font-style: italic;
  line-height: 2.7rem;
  color: var(--mandarin-red);
}

.nav-links {
  display: none;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
  border-radius: 2.4375rem;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(255 255 255 / 0.1);
  padding: 0.25rem;
}

@media (min-width: 576px) {
  .nav-links {
    display: flex;
  }
}

.nav-link {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2rem;
  color: var(--white);
}

@media (min-width: 992px) {
  .nav-link {
    font-size: 1.125rem;
    line-height: 1.35rem;
  }
}

.nav-link-active {
  border-radius: 2.875rem;
  background-color: var(--mandarin-red);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  font-weight: 600;
}

.nav-link-inactive {
  border-radius: 2.875rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

@media (min-width: 576px) {
  .nav-hamburger {
    display: none;
  }
}

.nav-hamburger-icon {
  font-size: 1.5rem;
  color: var(--white);
}

/* === Hero === */

.hero {
  margin-top: 3.31rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (min-width: 576px) {
  .hero {
    margin-top: 4.69rem;
  }
}

@media (min-width: 992px) {
  .hero {
    margin-top: 2rem;
    flex-direction: row;
    justify-content: space-between;
  }
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1.75rem;
}

.hero-tittle {
  font-size: 2.25rem;
  font-weight: 900;
  line-height: 2.7rem;
}

@media (min-width: 576px) {
  .hero-tittle {
    font-size: 4.875rem;
    line-height: 4.875rem;
  }
}

.hero-tittle-shape {
  font-family: var(--font-miama);
  font-weight: 400;
  font-style: italic;
  line-height: 2.7rem;
}

@media (min-width: 576px) {
  .hero-tittle-shape {
    font-size: 4.5rem;
    line-height: 4.875rem;
  }
}

.hero-description {
  max-width: 32.5rem;
  text-wrap: pretty;
  text-align: left;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: var(--white);
  opacity: 0.5;
}

.btn-groups {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.88rem;
}

.hero-photo {
  position: relative;
  margin-top: 3rem;
}

@media (min-width: 576px) {
  .hero-photo {
    margin-top: 6.25rem;
  }
}

@media (min-width: 992px) {
  .hero-photo {
    margin-right: 1.5rem;
    margin-top: 0px;
  }
}

.hero-img {
  height: auto;
  max-width: 100%;
}

/*== badge == */

.hero-badge-workout {
  position: absolute;
  top: 2.98rem;
  right: 0.81rem;
  border-radius: 0.625rem;
  border-width: 0.05rem;
  border-style: solid;
  border-color: rgb(255 255 255 / 0.1);
  background-color: rgb(255 255 255 / 0.1);
  backdrop-filter: blur(0.5rem);
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  padding-left: 1.14rem;
  padding-right: 1.14rem;
}

@media (min-width: 576px) {
  .hero-badge-workout {
    top: 3.69rem;
    right: -2.19rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media (min-width: 992px) {
  .hero-badge-workout {
    top: 7.81rem;
    right: -2.62rem;
  }
}

@media (min-width: 1180px) {
  .hero-badge-workout {
    right: -4.62rem;
  }
}

.hero-badge-workout-tittle {
  margin-bottom: 0.25rem;
  font-size: 1.875rem;
  font-weight: 900;
  line-height: 1.875rem;
  letter-spacing: 0.05em;
}

@media (min-width: 576px) {
  .hero-badge-workout-tittle {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }
}

.hero-badge-workout-desc {
  font-size: 0.625rem;
  font-weight: 400;
  line-height: 1rem;
  letter-spacing: 0.025em;
  color: var(--white-65);
}

@media (min-width: 576px) {
  .hero-badge-workout-desc {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}

.hero-badge-tutorial {
  -webkit-backdrop-filter: blur(0.5rem);
  backdrop-filter: blur(0.5rem);
  position: absolute;
  bottom: 15.25rem;
  left: 0.75rem;
  display: flex;
  align-items: center;
  gap: 0.57rem;
  border-radius: 0.625rem;
  border-width: 0.05rem;
  border-style: solid;
  border-color: rgb(255 255 255 / 0.1);
  background-color: rgba(48, 48, 48, 0.54);
  padding-top: 0.95rem;
  padding-bottom: 0.95rem;
  padding-left: 1.09rem;
  padding-right: 1.09rem;
}

@media (min-width: 576px) {
  .hero-badge-tutorial {
    bottom: 8.19rem;
    left: -3.12rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    padding-left: 1.44rem;
    padding-right: 1.44rem;
  }
}

@media (min-width: 992px) {
  .hero-badge-tutorial {
    bottom: 3.94rem;
    left: -7.06rem;
    gap: 0.75rem;
  }
}

.hero-badge-tutorial-tittle {
  margin-bottom: 0.25rem;
  font-size: 1.125rem;
  font-weight: 900;
  line-height: 1.125rem;
  letter-spacing: 0.025em;
}

@media (min-width: 576px) {
  .hero-badge-tutorial-tittle {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
}

.hero-badge-tutorial-desc {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1rem;
  letter-spacing: 0.025em;
  color: var(--white-65);
}

@media (min-width: 576px) {
  .hero-badge-tutorial-desc {
    font-size: 1rem;
    line-height: 1.125rem;
  }
}

.hero-badge-tutorial-circle {
  display: flex;
  width: 1.875rem;
  height: 1.875rem;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background-color: var(--mandarin-red);
}

@media (min-width: 576px) {
  .hero-badge-tutorial-circle {
    width: 2.5rem;
    height: 2.5rem;
  }
}

.play-icon {
  font-size: 0.85rem;
}

@media (min-width: 576px) {
  .play-icon {
    font-size: 1.125rem;
  }
}

/* === Habit Section === */

.habit {
  position: relative;
  z-index: 1;
  margin-top: -6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--black);
}

@media (min-width: 576px) {
  .habit {
    margin-top: 6.25rem;
  }
}

.habit-tittle {
  text-align: center;
  font-size: 2rem;
  font-weight: 900;
  line-height: 2.4rem;
}

@media (min-width: 576px) {
  .habit-tittle {
    font-size: 3rem;
    line-height: 3.6rem;
  }
}

.habit-description {
  margin-top: 0.88rem;
  max-width: 41.9375rem;
  text-wrap: pretty;
  text-align: center;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: var(--white-50);
}

/* == cards == */

.habit-workouts {
  margin-top: 3.62rem;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(1, minmax(0, auto));
  justify-content: center;
  gap: 2.5rem;
}

@media (min-width: 576px) {
  .habit-workouts {
    grid-template-columns: repeat(2, minmax(0, auto));
  }
}

@media (min-width: 992px) {
  .habit-workouts {
    grid-template-columns: repeat(4, minmax(0, auto));
  }
}

.habit-workout-card {
  display: flex;
  max-width: 15rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.62rem;
}

.habit-workout-card-img {
  height: auto;
  max-width: 100%;
  border-radius: 100%;
}

.habit-workout-card-tittle {
  text-align: center;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.35rem;
}

@media (min-width: 576px) {
  .habit-workout-card-tittle {
    font-size: 1.125rem;
  }
}

.habit-workout-card-desc {
  margin-top: 0.38rem;
  text-align: center;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1rem;
  color: var(--white-50);
}

/* === Run Section === */

.run {
  margin-top: 4.12rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.94rem;
  border-radius: 1.125rem;
  background-color: var(--black-out);
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1.94rem;
  padding-bottom: 1.94rem;
}

@media (min-width: 576px) {
  .run {
    margin-top: 5.25rem;
  }
}

@media (min-width: 655px) {
  .run {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: 992px) {
  .run {
    margin-top: 6.25rem;
  }
}

.run-content {
  display: flex;
  max-width: 27.6875rem;
  flex-direction: column;
  align-items: flex-start;
}

.run-tittle {
  text-align: left;
  font-size: 2rem;
  font-weight: 900;
  line-height: 2.4rem;
}

@media (min-width: 576px) {
  .run-tittle {
    font-size: 2.25rem;
    line-height: 2.7rem;
  }
}

@media (min-width: 992px) {
  .run-tittle {
    font-size: 3rem;
    line-height: 3.6rem;
  }
}

.run-description {
  margin-top: 0.88rem;
  text-wrap: pretty;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: var(--white-50);
}

.run-btn {
  margin-top: 1.5rem;
  width: 100%;
}

@media (min-width: 576px) {
  .run-btn {
    margin-top: 2.12rem;
  }
}

@media (min-width: 655px) {
  .run-btn {
    max-width: 14rem;
  }
}

.run-content-img {
  height: 10.625rem;
  max-width: 27.6875rem;
  overflow: clip;
  border-radius: 1.125rem;
}

@media (min-width: 655px) {
  .run-content-img {
    height: 19.9375rem;
    max-width: 16rem;
  }
}

@media (min-width: 992px) {
  .run-content-img {
    height: 19.5rem;
    max-width: 22.875rem;
  }
}

.run-img {
  position: relative;
  height: auto;
  max-width: 100%;
  border-radius: 1.125rem;
  object-fit: cover;
}

@media (min-width: 655px) {
  .run-img {
    top: 9rem;
    right: 7rem;
    transform: scale(3.3, 3.3);
  }
}

@media (min-width: 992px) {
  .run-img {
    top: 8.2rem;
    right: 9.5rem;
  }
}

/* === Team Section === */

.team {
  margin-top: 4.3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (min-width: 576px) {
  .team {
    margin-top: 4.5rem;
  }
}

@media (min-width: 992px) {
  .team {
    margin-top: 5.5rem;
  }
}

.team-tittle {
  text-align: center;
  font-size: 2rem;
  font-weight: 900;
  line-height: 2.4rem;
}

@media (min-width: 576px) {
  .team-tittle {
    font-size: 3rem;
    line-height: 3.6rem;
  }
}

.team-description {
  margin-top: 0.88rem;
  max-width: 41.9375rem;
  text-wrap: pretty;
  text-align: center;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: var(--white-50);
}

.team-members {
  margin-top: 2.31rem;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, auto));
  justify-content: center;
  gap: 1.25rem;
  border-radius: 1.125rem;
  background-color: rgb(255 255 255 / 0.1);
  padding: 1.25rem;
}

@media (min-width: 576px) {
  .team-members {
    grid-template-columns: repeat(3, minmax(0, auto));
  }
}

@media (min-width: 992px) {
  .team-members {
    margin-top: 3.63rem;
  }
}

.team-member {
  position: relative;
  height: 17rem;
  max-width: 20.375rem;
  overflow: clip;
  border-radius: 1.125rem;
}

.team-member:nth-child(1),
.team-member:nth-child(4) {
  display: none;
}

@media (min-width: 576px) {
  .team-member:nth-child(1),
  .team-member:nth-child(4) {
    display: flex;
  }
}

@media (max-width: 576px) {
  .team-member:nth-child(5) {
    grid-area: 2;
  }

  .team-member:nth-child(3) {
    grid-area: 3;
  }
}

.team-member-img {
  height: auto;
  width: 20.375rem;
  border-radius: 1.125rem;
}

.team-member-details {
  position: absolute;
  left: 1.21rem;
  bottom: 1rem;
}

.team-member-name {
  text-align: left;
  font-size: 1.25rem;
  font-weight: 900;
  line-height: 1.5rem;
}

.team-member-position {
  margin-top: 0.25rem;
  text-align: left;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.05rem;
  color: var(--white-50);
}
